{% extends "base_form.html" %}
{% block content %}
    <a href="/" class="btn btn-ligth btn-sm">Regístrate</a> | <a class="btn btn-ligth btn-sm" href="#lista">Lista</a>

    <!-- estadisticas -->
    <div>
	<canvas id="canvas1" width="350"></canvas>
    </div>	
    <script>
     let cx = document.getElementById("canvas1").getContext("2d");
     let ancho = ((parseInt({{ asistentes }})*100)/({{ total }}))*2;
     cx.font="14px Sans";
     cx.fillStyle = "blue";
     cx.fillRect(0, 10, ancho, 25);
     cx.fillText("Asistentes: "+{{ asistentes }}, 210, 25);
     cx.fillStyle = "#432";
     ancho = ((parseInt({{ expositores }})*100)/({{ total }}))*2;
     cx.fillRect(0, 40, ancho, 25);
     cx.fillText("Expositores: "+{{ expositores }}, 210, 55);
     cx.fillStyle = "green";
     ancho = ((parseInt({{ logistica }})*100)/({{ total }}))*2;
     cx.fillRect(0, 70, ancho, 25);
     cx.fillText("Logística: "+{{ logistica }}, 210, 85);
     cx.fillStyle = "red";
     ancho = ((parseInt({{ mesas }})*100)/({{ total }}))*2;
     cx.fillRect(0, 100, ancho, 25);
     cx.fillText("Mesas de debate: "+{{ mesas }}, 210, 115);
     cx.fillStyle = "#559";
     ancho = ((parseInt({{ otro }})*100)/({{ total }}))*2;
     cx.fillRect(0, 130, ancho, 25);
     cx.fillText("Otros: "+{{ otro }}, 210, 145);
     
    </script>
    <h3 id="lista">Lista rápida de participantes</h3>

    {% for p in participantes reversed %}
	<hr>
	<b>Nombre:</b> <a href="/par/{{ p.slug }}/">{{ p.p.nombres }} {{ p.p.apellidos }}</a>
	&nbsp;&nbsp;&nbsp;<b>Grupo:</b> {{ p.p.grupo }}
	<br>
	<b>Quiere participar como:</b> <code>{{ p.tipo.tipo }}</code>
	<br>
	{% if mas_detalles %}
	    <b>Email:</b> {{ p.p.email }}
	    <br>
	    <b>Telf:</b> {{ p.p.telf }}
	{% endif %}
	<br>
	{% if p.tipo.tipo == "asistente" %}
	    <b>Interesado en software </b> {{ p.tipo.asistente_software_deseado }}
		<br>
	{% endif %}
	{% if p.tipo.tipo == "expositor" %}
	    <b>Maneja el software </b>{{ p.tipo.expositor_software_manejado }}
		<br>
		<b>Desea exponer el Tema</b> <big><i>{{ p.tipo.expositor_tema }}</i></big>
		<br>
	{% endif %}
	{% if p.tipo.tipo == "logistica" %}
	    <p>
		<b>Desea colaborar en </b>{{ p.tipo.logistica_tipo }}
	    </p>
	{% endif %}
	{% if p.tipo.tipo == "instalador" %}
		<b>Requiere capacitación como instalador</b>
		{% if p.tipo.instalador_capacitacion %} SI {% else %} NO {% endif %}
		<br>
		<b>Puede instalar software para:</b> {{ p.tipo.instalador_tipo_software }}
		<br>
	{% endif %}
	{% if p.tipo.tipo == "otro" %}
		<b>Desea participar en </b>{{ p.tipo.otro_desc }}
		<br>
	{% endif %}
    {% endfor %}
{% endblock %}
