<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
  	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="description" content="Registro participantes FLISOL 2018 La Paz - Bolivia">
	<meta name="robots" content="index, follow">
	<meta name="author" content="Rodrigo Garcia (https://rmgss.net)">

	<link rel="shortcut icon" type="image/png" href="/static/favicon.png">

	<title>FLISOL 2018, La Paz-Bolivia Participantes</title>

   <!-- Bootstrap core CSS -->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
	<link href="/static/css/flisol2018.css" rel="stylesheet">
</head>

<body>
    <div class="header">
	<a href="/"> <img src="/static/img/flisol-top-bar.png"></a>
	<h5>La Paz Bolivia 2018</h5>
	<span class="badge badge-info"><a class="text-white" href="https://flisol.info/FLISOL2018/Bolivia/LaPaz">Sábado 28 de abril - Universidad Privada Franz Tamayo</a></span>
    </div>

    <div id="content">

	{% block content %}
	{% endblock %}
    </div>

    <div class="footer">
      <small>Esta página es software libre (<a href="https://github.com/strymsg/form-flisol2018-lapaz/"> código fuente</a>)
        <br><a href="https://flisol.info/FLISOL2018/Bolivia">Flisol 2018 Bolivia</a></small>

    </div>
</body>

</html>
