body {
  /* Margin bottom by footer height */
  margin-bottom: 57px;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #F3CE95;
}

header {
    
}